Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/Assets
Content/Collections
Content/Developers
Content/Maps

.idea
.vscode
.vsconfig
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace